.bg-primary {
  background-color: $primary;
}
.bg-primary-active {
  background-color: $primary-active;
}
.bg-primary-40 {
  background-color: $primary-40;
}
.bg-dark-primary {
  background-color: $dark-primary;
}
.bg-dark-secondary {
  background-color: $dark-secondary;
}


.text-primary {
  color: $primary;
}
.text-primary-active {
  color: $primary-active;
}
.text-white-primary {
  color: $white-primary;
}
.text-graphite {
  color: $graphite;
}